/*==========================================================
Copyright meeeeee 2020 A.D.
If you are here, then you are either trying to recreat an effect or copy all the code.
==========================================================*/

* {
   color: white;
   background-size: 750px 420px;
   text-align: center;
}

body {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   background-image: url(../Images/space.jpg);
   overflow-y: hidden;
}

::-webkit-scrollbar {
   display: none;
}

.third {
   border: outset 8px gold;
   margin: 5px;
   padding: 5px;
   overflow: hidden;
   height: 91vh;
   overflow-y: scroll;
   font-family: 'Goldman', cursive;
}

#welcome {
   font-family: sans-serif;
}

.set {
   border: outset gold 2.5px;
   background-color: #000;
   color: #fff;
   padding: 4px;
   margin: 5px;
   width: 45%;
   height: 75px;
   font-family: 'Goldman', cursive;

}

.musicby {
   margin: auto;
   position: relative;
   right: -150%;
}

.music {
   margin: 25px 2.5% 0 2.5%;
   width: 95%;
}

/*==========================================================
Click
==========================================================*/

#galaxy {
   border-radius: 80px;
}

#otherStars, #playerrName {
   font-weight: bolder;
   -webkit-text-stroke: 1.2px black;
   font-family: sans-serif;
   font-size: 25px;
   border: inset 5px silver;
   margin-top: -1px;
   font-family: 'Goldman', cursive;
}

/*==========================================================
Star Wars Effect
==========================================================*/

#titles {
   position: absolute;
   width: 140%;
   height: 50em;
   bottom: 0;
   left: 50%;
   margin-left: -5em;
   font-size: 350%;
   text-align: justify;
   overflow: hidden;
   transform-origin: 50% 100%;
   transform: perspective(300px) rotateX(15deg);
}

#welcome {
   position: relative;
}

#titles p {
   text-align: justify;
   margin: 0.8em 0;
}

#titles p.center {
   text-align: center;
}

#titlecontent {
   position: absolute;
   top: 100%;
   animation: scroll 100s linear infinite;
}

/* Animation */
@keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
}

/*==========================================================
Space
==========================================================*/

.text {
   position: relative;
   left: -500px;
   z-index: -1;
   margin-top: -5px;
   transition: all .5s 0s;
}

#sorry {
   margin-top: 15px;
}

.object:hover .text {
   left: 0;
   z-index: 1;
   color: #000;
}

.object:hover .info {
   display: none;
}

.object:hover {
   background-color: whitesmoke;
}

.object {
   width: 95%;
   height: 80px;
   border-radius: 8px;
   border: outset silver 8px;
   font-size: 1.066em;
   font-weight: 700;
   margin: 5px auto;
   padding: 0px 0px 16px 0px;
   background-color: rgba(0, 0, 0, 0.5);
   transition: all .5s 0s;
   overflow: hidden;
}
