/*==========================================================
 Copyright meeeeee 2020 A.D.
Go away please. Anyway, what are you doing looking at this code?
==========================================================*/

* {
   text-align: center;
   margin: 0;
   padding: 0;
   cursor: url("Images/Normal.cur"), default;
   cursor: url("Images/Normal.cur"), pointer;
}

body {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   background-image: url("Images/background.png");
   background-size: 120px;
   overflow-y: hidden;
}

::-webkit-scrollbar {
   display: none;
}

.section {
   border: outset #ab0c07 10px;
   margin: 1vh 5px;
   padding: 0px 1% 1% 1%;
   height: 88vh;
   position: relative;
   overflow: scroll;
}

.vegetable-ad {
   width: 80%;
   margin: 75px auto 15px auto;
}

.alert {
   position: absolute;
   bottom: 10%;
   right: 5%;
   height: 60px;
   width: 180px;
   background-color: #000;
   color: #f5f5f5;
   border: outset #ab0c07 5px;
   border-radius: 5px;
   padding: 8px;
   font-family: Helvetica, sans-serif;
   opacity: 0;
   transition: 1.5s;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Welcome */
.dark-shadow {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.89);
   display: none;
}

.welcome {
   position: absolute;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}

.welcome-content {
   box-sizing: border-box;
   height: 90%;
   width: 75%;
   background-color: #f9f9f9;
   border-radius: 10px;
   padding: 25px;
   box-shadow: 0 0 10px #fff;
   z-index: 1;
   font-family: 'Nunito Sans', sans-serif;
}

.welcome-content p {
   margin: 25px;
   font-size: 125%;
}

.name-input {
   height: 75px;
   width: 175px;
   font-size: 50px;
}

/*==========================================================
Right Click Menu
==========================================================*/

#menu {
   width: 200px;
   position: fixed;
   z-index: 9999;
   display: none;
   font-family: Nunito;
   font-size: 15px;
   background: #fff;
   color: #555;
   border-radius: 5px;
   box-shadow: 0 0 5px #f5f5f5;
}

#menu li {
   list-style-type: none;
   padding: 10px 25px;
   transition: .2s;
}

#menu li:hover {
   text-shadow: 0 .2px .2px #262626;
   background-color: #fafafa;
   border-radius: 5px;
}

#menu hr {
   border: 1px solid #ebebeb;
   border-bottom: 0;
}

#menu a {
   text-decoration: underline;
   color: #555;
}

/*==========================================================
Section 1 | Astroid and Player Information
==========================================================*/

#astroid-image {
  width: 80%;
  height: auto;
  margin: 36px 8px;
  cursor: url("Images/pickaxecursor.png"), auto;
}

.basic-info {
   border: ridge 5px #ab0c07;
   margin: 2px -2px;
   padding: 2px;
   font-size: 25px;
   font-family: 'Noto Sans', sans-serif;
   background-image: url("Images/goldbars.jpg");
   background-size: 100% auto;
   text-shadow: -2px 2px 2px #262626;
   color: lightyellow;
}

#gold-profits {
   font-size: 18px;
}

.retro-coin {
   height: 25px;
   margin-bottom: -5px;
}

/*==========================================================
Section 2 | Research Facility, News Station, Setting, and Ads
==========================================================*/

#news {
   height: 125px;
   margin: 0px;
   font-size: 18px;
   padding: 10px;
   font-weight: 500;
}

details, #news {
   border: inset 8px lightblue;
   background-color: lightyellow;
   margin-top: 5px;
   font-family: merriweather-serif;
   padding: 5px;
}

summary {
   font-size: 25px;
}

.UP {
   border: outset 4px #4a4a4a;
   margin: 5px;
   font-size: 1.4em;
   background-color: rgba(186, 235, 255, 0.8);
   display: none;
}

#a2 {
   display: block;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 99%;
   height: 100%;
   overflow: auto;
}

.more {
   font-size: .8em;
   margin: 0;
}

.why {
   font-size: .6em;
   margin: 0;
}

li:hover {
   position: relative;
}

li[aria-label]:hover:after {
   visibility: visible;
   z-index: 100;
   transition: .8s linear;
      content: attr(aria-label);
      border: outset gold 4px;
      background-color: #000;
      color: #fff;
      padding: 2px 5px;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 20;
}

/* Gold Profits */

#gpm, #g0pher, #gpd, #gpw, #gpM, #gpy, #totalGold {
   font-family: monospace;
}

/* Settings */

.set-info {
   position: relative;
   top: -500px;
   z-index: -1;
   margin-top: 5px;
   transition: all .5s 0s;
   color: #fff;
   font-size: 15px;
}

.set-div:hover .set-info {
   top: 0;
   z-index: 1;
}

.set-div:hover {
   font-size: 18px;
   display: inline-block;
   height: 100px;
}

.set-div {
   width: 40%;
   background-color: #000;
   display: inline-block;
   border-radius: 8px;
   border: outset gold 5px;
   margin: 5px auto;
   padding: 8px;
   transition: all .5s 0s;
   overflow: hidden;
   height: 50px;
   color: #fff;
   font-size: 25px;
}

audio {
   display: none;
}

/*==========================================================
Section 3 | Shop
==========================================================*/

.store-item {
   width: 96%;
   height: 80px;
   border-radius: 8px;
   border: double #000 8px;
   font-weight: 700;
   margin: 2px auto;
   padding: 5px 0px;
   display: none;
   overflow: hidden;
   transition: all 1.5s 0s;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}

.store-info {
   position: absolute;
   transform: scale(0);
   opacity: 0;
   transition: all .5s .5s;
}

.store-item:hover .store-info {
   transform: scale(1);
   opacity: 1;
}

.store-display {
   transform: scale(1);
   opacity: 1;
   transition: all .5s .5s;
}

.store-item:hover .store-display {
   transform: scale(0);
   opacity: 0;
}

#wait-gif {
   height: 50px;
   width: auto;
   margin: 15px auto;
}

/*==========================================================
Summoning Circle
==========================================================*/

#otherstars {
   font-family: Helvetica;
   color: #fff;
   background-color: #000;
   padding: 5px 50px;
   border: groove 3px #219729;
   display: none;
}

#summoningCircle {
   border: ridge 5px gold;
   margin: auto;
   width: 90%;
   background-color: #000;
   color: #fff;
   display: none;
}

#summoningCircle .upgrade {
   display: inline-block;
   border: ridge 3px silver;
   width: 40%;
   height: 75px;
   margin: 10px 5px;
}

/*==========================================================
Copyright
==========================================================*/

a {
   cursor: url("Images/Link.cur"), default;
   text-decoration: none;
   color: #fff;
}

#copyright {
   background-color: #000;
   font-family: monospace;
   color: #fff;
   padding: 5px;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   height: 4vh;
}

/*==========================================================
Mobile
==========================================================*/

@media (max-width: 740px) {
   body {
      overflow-y: scroll;
      font-size: .8em;
      display: block;
   }
   .section {
      height: 180vh;
      width: 85%;
      margin: 5px auto;
   }
   #copyright {
      padding: 2px 5px 15px 5px;
      margin-bottom: -2px;
      height: 4vh;
   }
}
