/* 
//// Key ////
// Global
// Sections
// Settings
// Center Block
// Introduction
// Alert
// Copyright
// Context Menu
*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Global
~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
   text-align: center;
   font-size: 2.5vh;
}

body {
   display: grid;
   grid-template-columns: 33.333% 33.333% 33.333%;
   background-image: url("https://previews.123rf.com/images/nadiinko/nadiinko1808/nadiinko180800072/112037430-modern-simple-geometric-vector-seamless-pattern-with-gold-line-texture-on-white-background-light-abs.jpg");
   background-size: 20vh;
}

::-webkit-scrollbar { display: none; }
::selection { background-color: transparent; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Sections
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.block {
   height: 90vh;
   margin: 0;
   padding: 1.5vh;
   overflow: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Settings
~~~~~~~~~~~~~~~~~~~~~~~~~*/

#settings div {
   width: 90%;
   background-color: #ffffffee;
   display: inline-block;
   border-radius: 1.25vh;
   margin: 1vh auto 0 auto;
   padding: 1.6vh 0.8vh 2vh 0.8vh;
   color: #444444;
   font-size: 3.8vh;
   box-sizing: border-box;
   border-left: solid 0.8vh #2CD49F;
   transition: .1s;
}

#settings div:hover {
   padding-left: 0.4vh;
   border-left: solid 1.6vh #2CD49F;
   box-shadow: 0 0 .5vh #ddd;
}

#settings p {
   margin-top: 1vh;
   font-size: 2.4vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Center Block
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.um-1 {
   margin: 2vh auto;
   width: 31vw;
   display: grid;
   grid-template-columns: 11vh auto;
   border-radius: .5vh;
   overflow: hidden;
}

.tab-bar::-webkit-scrollbar {
   display: none;
}

.tab-bar {
   height: 60vh;
   overflow: auto;
   padding: .2vh;
   box-sizing: border-box;
   background-color: #ffffff90;
   max-height: 100%;
}

.tab {
   position: relative;
   display: inline-block;
   padding: 1.8vh 2vh;
   margin: .5vh .5vh;
   text-align: center;
   background-color: #fafafa;
   font-family: sans-serif;
   font-size: 2vh;
   color: #222;
   border-radius: 1vh;
   box-shadow: 0 0 .2vh #00000020;
   font-family: "Nunito", sans-serif;
   transition: .2s;
}

.tab .material-symbols-rounded {
   font-size: 5vh !important;
}

.active-tab {
   transform: translate(1.05vh, 0);
   border-radius: 1vh 0 0 1vh;
}

.tab-research { background-color: #E4FDA3; }
#page-research { background-color: #E4FDA3; }
.tab-settings { background-color: #B7FDA3; }
#page-settings { background-color: #B7FDA3; }
.tab-ad { background-color: #A3FDBC; }
#page-ad { background-color: #A3FDBC; }
.tab-circles { background-color: #A3FDE9; }
#page-circles { background-color: #A3FDE9; }
.tab-attribution { background-color: #A3E4FD; }
#page-attribution { background-color: #A3E4FD; }


/* Information */
.tab-pages {
   height: 60vh;
   background-color: #fafafa;
   width: 100%;
   overflow: hidden;
   scroll-behavior: smooth;
   margin: 0;
   border-radius: .5vh;
}

.tab-pages .page {
   display: inline-block;
   width: 100%;
   height: 100%;
   padding: 2vh 0;
   font-size: 3.5vh;
   font-family: "Nunito";
   vertical-align: top;
   box-sizing: border-box;
   overflow: scroll;
}

.big-title {
   font-family: "Nunito";
   text-align: center;
   font-size: 4vh;
}

.ad-text {
   padding: 3vh 4vh;
   font-size: 3.5vh;
}

.tab-pages span {
   color: #ccc;
   font-family: sans-serif;
   text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Introduction
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introduction {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   font-family: 'Nunito', sans-serif;
   background-color: #fff;
}

.introduction img {
   position: absolute;
   top: 0;
   left: 0;
   height: 25vh;
   margin: 2vh;
}

.introduction h1 {
   text-align: right;
   margin: 6vh 8% 10vh 0;
   font-size: 8vh;
}

.introduction p {
   margin: 5vh;
   font-size: 4vh;
}

.name-input {
   height: 15vh;
   width: 100%;
   font-size: 5.6vh;
   font-family: 'Nunito', sans-serif;
   border: none;
   border-bottom: solid .3vh cornflowerblue;
   transition: .2s;
}

.name-input:focus {
   outline: none;
   border-bottom: solid .5vh cornflowerblue;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Alert
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.alert-box {
   pointer-events: none;
   z-index: 1000000000;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   font-size: 2vh; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.alert {
   display: none;
   justify-content: center;
   align-items: center;
   min-height: 18vh;
   width: 40vh;
   font-size: 2.6vh;
   color: #494949;
   padding: 2.5vh;
   margin: 0 1vh 1vh 0;
   box-sizing: border-box;
   border: outset #d2332e .8vh;
   font-family: "Nunito";
   text-align: center;
   background-color: #fff;
   border-radius: 1vh;
   transition: .3s;
}
.alert-cominin {
   animation: alertCominIn 1.2s forwards;
}
.alertAnimation {
   opacity: 1;
   transform: scale(1) rotate(0);
   pointer-events: none;
   animation: alert-animation 1.2s forwards;
}
@keyframes alert-animation {
   0% { transform: translate(0, 0) scale(1); opacity: 1; }
   100% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
}
@keyframes alertCominIn {
   0% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
   100% {transform: translate(0, 0) scale(1); opacity: 1;  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Copyright
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.copyright {
   height: 5.5vh;
   background-color: #fffffff2;
   font-family: monospace;
   font-size: 3vh;
   color: #999;
   padding: 1vh;
   position: fixed;
   bottom: .4vh;
   right: .4vh;
   left: .4vh;
   border-radius: .5vh;
   box-sizing: border-box;
}

.copyright a {
   position: relative;
}

.copyright a .copyright-tooltip {
   opacity: 0;
   width: 100%;
   background-color: #fff;
   border-radius: 0.8vh;
   position: absolute;
   z-index: 1;
   bottom: 155%;
   right: 0;
   padding: 1vh;
   font-size: 75%;
   border: outset 0.5vh lightblue;
   transition: 0.5s;
   pointer-events: none;
}

.copyright a .copyright-tooltip::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -1.2vh;
   border-width: 1.2vh;
   border-style: outset;
   border-color: lightblue transparent transparent transparent;
}

.copyright a:hover .copyright-tooltip {
   opacity: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Context Menu
~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 38vh;
   position: fixed;
   z-index: 100;
   display: none;
   background: #fff;
   border-radius: 1vh;
}

#menu li {
   list-style-type: none;
   margin: .5vh;
   padding: 2vh 4vh;
   color: #555;
   font-family: Nunito;
   font-size: 3.2vh;
   border-radius: 1vh;
   transition: 0.3s;
}

#menu li:hover {
   background-color: #fafafa;
}

#menu hr {
   border: 0.15vh solid #ebebeb;
   border-bottom: 0;
}

#menu a {
   font-size: 3.2vh;
   text-decoration: none;
   color: #555;
}