/*==========================================================
 Copyright meeeeee 2020 A.D.
Go away please. Anyway, what are you doing looking at this code?
==========================================================*/

* {
  text-align: center;
}

body {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   background-image: url("Images/background.png");
   background-size: 120px;
   overflow-y: hidden;
}

::-webkit-scrollbar {
   display: none;
}

.section {
   border: outset #ab0c07 10px;
   margin: .2vh 5px;
   padding: 1%;
   height: 88vh;
   position: relative;
   overflow: scroll;
}

/*==========================================================
Section 1
==========================================================*/

#astroid-image {
  width: 80%;
  height: auto;
  margin: 36px 8px;
  cursor: url("Images/pickaxecursor.png"), auto;
}

.basic-info {
   border: ridge 5px #ab0c07;
   margin: 2px -2px;
   padding: 2px;
   font-size: 25px;
   font-family: 'Noto Sans', sans-serif;
   background-image: url("Images/goldbars.jpg");
   background-size: 100% auto;
   text-shadow: -2px 2px 2px #262626;
   color: lightyellow;
}

#gold-profits {
   font-size: 18px;
}

#player-name {
   background-image: none;
   background-color: #ffffe0;
   color: #000;
   text-shadow: 0 0;
}

/*==========================================================
Section 2
==========================================================*/

#news {
   height: 125px;
   margin: 0px;
   font-size: 18px;
   padding: 10px;
   font-weight: 500;
}

details, #news {
   border: inset 8px lightblue;
   background-color: lightyellow;
   margin-top: 8px;
   font-family: merriweather-serif;
   padding: 5px;
}

summary {
   font-size: 25px;
}

/* Upgrades */

.UP {
   border: outset 4px #4a4a4a;
   margin: 5px;
   font-size: 1.4em;
   background-color: #e8efff;
   display: none;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 99%;
   height: 100%;
   overflow: auto;
}

.more {
   font-size: .8em;
   margin: 0;
}

.why {
   font-size: .6em;
   margin: 0;
}

li:hover {
   position: relative;
}

li[aria-label]:hover:after {
   visibility: visible;
   z-index: 100;
   transition: .8s linear;
      content: attr(aria-label);
      border: outset gold 4px;
      background-color: #000;
      color: #fff;
      padding: 2px 5px;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 20;
}

/* Gold Profits */

#gpm, #g0pher, #gpd, #gpw, #gpM, #gpy, #totalGold {
   font-family: monospace;
}

/* Settings */

.set-info {
   position: relative;
   top: -500px;
   z-index: -1;
   margin-top: 5px;
   transition: all .5s 0s;
   color: #fff;
   font-size: 15px;
}

.set-div:hover .set-info {
   top: 0;
   z-index: 1;
}

.set-div:hover {
   font-size: 18px;
   display: inline-block;
   height: 100px;
}

.set-div {
   width: 40%;
   background-color: #000;
   display: inline-block;
   border-radius: 8px;
   border: outset gold 5px;
   margin: 5px auto;
   padding: 8px;
   transition: all .5s 0s;
   overflow: hidden;
   height: 50px;
   color: #fff;
   font-size: 25px;
}

audio {
   display: none;
}

/*==========================================================
Copyright
==========================================================*/

a {
   text-decoration: none;
   color: #fff;
}

#copyright {
   background-color: #000;
   font-family: monospace;
   color: #fff;
   padding: 2px 5px 5px 5px;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   margin-bottom: -4px;
   height: 4vh;
   font-weight: bolder;
}

/*==========================================================
Mobile
==========================================================*/

@media (max-width: 740px) {
   body {
      overflow-y: scroll;
      font-size: .8em;
      display: block;
   }
   .section {
      height: 180vh;
      width: 85%;
      margin: 5px auto;
   }
   #copyright {
      padding: 2px 5px 15px 5px;
      margin-bottom: -2px;
      height: 4vh;
   }
}
