/*==========================================================
Copyright and Opening Information
==========================================================*/

/* Copyright meeeeee 2020 A.D.
Go away please. Anyway, what are you doing looking at this code?*/

/*==========================================================
Everything
==========================================================*/
* {
  text-align: center;
}

body {
  background-image: url("Images/background.png");
  background-size: 120px;
}

::selection  {
  background-color: green;
  color: #eee;
}

::-webkit-scrollbar {
    display: none;
}

li:hover {
  padding-top: 5px;
}

li:hover {
  background-color: #e8c564;
  box-shadow: 3px 3px black;
  padding-top: 2px;
}

/*==========================================================
Mobile
==========================================================*/

@media (max-width: 740px) {
  body {
    font-size: .8em;
  }
  #gain {
    display: block;
    width: 100%;
    min-width: 300px;
  }
  #maingamecenter {
    display: block;
    width: 100%;
    min-width: 300px;
  }
  #buildings {
    display: block;
    width: 100%;
    min-width: 300px;
  }
}

/*==========================================================
Main Elements
==========================================================*/

#gain {
  width: 100%;
  border: outset #ab0c07 10px;
  padding: .1%;
}

#maingamecenter {
  width: 100%;
  border: outset #ab0c07 10px;
  padding: .1%;
}

#buildings {
  width: 100%;
  border: outset #ab0c07 10px;
  padding: .1%;
}

/*==========================================================
Profit
==========================================================*/

#gollllld {
  width: 275px;
  height: 200px;
  border-radius: 90px;
  margin: 8px;
  cursor: url("Images/pickaxecursor.png"), auto;
}

#gps {
  margin: 2px;
  font-size: 1.2em;
  color: #03ecfc;
  text-shadow: 1px 1px #000;
  border: inset silver 3px;
  background-image: url("Images/goldbars.jpg");
}

#gpc {
  margin: 2px;
  font-size: 1em;
  color: #03ecfc;
  text-shadow: 1px 1px #000;
  border: inset silver 3px;
  background-image: url("Images/goldbars.jpg");
}

.gold-mined {
  margin: 2px;
  color: yellow;
  -webkit-text-stroke: 1.2px black;
  font-size: 25px;
  border: inset 5px grey;
  background-image: url("Images/goldbars.jpg");
}

#playerrName {
  border: inset 4px lightblue;
  background-color: lightyellow;
  width: auto;
  font-size: 1.5em;
  padding: 8px;
  margin: 4px;
}

/*==========================================================
Upgrades, Acheivements, Settings, and News
==========================================================*/

/* News */

#news {
  border: inset 8px lightblue;
  background-color: lightyellow;
  background-image: none;
  height: 125px;
  margin: 0px;
  font-family: merriweather-serif;
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
}

/* Upgrades */

.active {
  background-color: #4caf50;
  font-size: 1.5em;
  color: #eee;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 99%;
  height: 100%;
  overflow: auto;
}

.more {
  font-size: .8em;
  margin: 0;
}

.why {
  font-size: .6em;
  margin: 0;
}

.UP {
  border: outset 4px #4a4a4a;
  margin: 5px;
  font-size: 1.4em;
  background-color: #e8efff;
  display: none;
}

summary {
  font-size: 1.3em;
}

/* Hover-thingy */

li:hover {
    position: relative;
}

li[aria-label]:hover:after {
  visibility: visible;
  z-index: 100;
  opacity: .9;
    transition: .5s linear;


     content: attr(aria-label);
     border: outset gold 4px;
     background-color: #000;
     color: #fff;
     padding: 2px 5px;
     position: absolute;
     left: 0;
     top: 100%;
     white-space: nowrap;
     z-index: 20;
}

button[aria-label]:hover:after {
  visibility: visible;
  z-index: 100;
  opacity: .9;
    transition: .5s linear;


     content: attr(aria-label);
     border: outset gold 4px;
     background-color: #000;
     color: #fff;
     padding: 2px 5px;
     position: absolute;
     left: 0;
     top: 100%;
     white-space: nowrap;
     z-index: 20;
}

/* Acheivements */

.hmm {
  display: block;
  background-image: none;
  margin-top: -2px;
  margin-bottom: 5px;
}

.yep {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: white;
  margin: .5px -1.5px;
  vertical-align: top;
  border: outset darkred 5px;
  border-radius: 5px;
  display: none;
}

.yep:hover {
  width: 52px;
  height: 52px;
  background-color: #000;
  color: white;
  margin: .5px -1.5px;
  vertical-align: top;
  border: outset darkred 5px;
  border-radius: 5px;

//80px big
//60/70px Medium
}

.hover-text {
  color: #000;
  display: block;
}

.hover-text:hover {
  display: block;
  color: #fff;
  position: relative;
  top: 25px;
  left: 5px;
}

/* Settings */

.set {
  border: outset gold 2.5px;
  background-color: black;
  background-image: none;
  color: white;
  padding: 4px;
  margin: 5px;
  float: left;
  width: 75px;
}

.setin {
  background-image: none;
  font-size: 12px;
}

.boxi {
  border: inset 8px lightblue;
  background-color: lightyellow;
  background-image: none;
  margin-top: 8px;
  font-family: merriweather-serif;
  padding: 5px;
}

#gpm, #g0pher, #gpd, #gpw, #gpM, #gpy, #totalGold {
  font-family: monospace;
}

/*==========================================================
Buildings
==========================================================*/

.info {
  width: 99%;
  height: 80px;
  border-radius: 8px;
  border: double black 8px;
  font-size: 1.066em;
  font-weight: 700;
  margin: 0.8px;
  padding: 5px 0px;
  background-color: #333;
  background-image: none;
  display: none;
}

/*==========================================================
Tool Tip
==========================================================*/

a.tooltip:hover {
  cursor: help;
  position: relative;
}

a.tooltip span {
  display: none;
}

a.tooltip:hover span {
  background-image: none;
  background-color: black;
  border: outset 3.5px gold;
  color: #fff;
  width: 140px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: 68px;
  left: -2px;
  display: block;
}


button.uptooltip:hover {
  cursor: help;
  position: relative;
}

button.uptooltip span {
  display: none;
}

button.uptooltip:hover span {
  background-image: none;
  background-color: black;
  border: outset 3.5px gold;
  color: #fff;
  width: 140px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: -2px;
  left: -2px;
  display: block;
}

/*Upgrade Tooltip*/

.con-tooltip {
  position: relative;
  display: inline-block;
  background-image: none;
}

.tooltipy {
  visibility: hidden;
  z-index: 100;
  opacity: .40;
  padding: 0px 20px;
  background: #000;
  color: #fff;
  border-radius: 60px;
  border: outset gold 3px;
  position: absolute;
  font-size: 12px;
}

.con-tooltip:hover .tooltipy{
  visibility: visible;
  z-index: 100;
  opacity: .9;
    transition: .5s linear;
}

.con-tooltip .tooltipy { bottom:50px; left:-45px; width:75px;}

p {
  background-image: none;
}

audio {
  display: none;
}
