.sumDivs {
   display: grid;
   grid-template-areas:
   "a b"
   "a c"
   "d e"
   "f f";
   padding: 1vh;
}

.sumDiv {
   padding: 1vh .5vh;
   margin: .5vh 0 0 0;
   width: 98%;
   display: inline-block;
   background-color: #ffffffbb;
   border-radius: .5vh;
   box-sizing: border-box;
}

.sLevel { grid-area: a; }
.sTimeleft { grid-area: b; }
.sProduct { grid-area: c; }
.sTime { grid-area: d; }
.sAmount { grid-area: e; }
.sStorage { grid-area: f; }

.sumDiv button {
   width: 100%;
   padding: .75vh 1.25vh;
   margin: 1.5vh 0 -.5vh; 0;
   color: #fff;
   background-color: #FFBE27;
   border: none;
   border-radius: .35vh;
   transition: .2s;
}

.sumDiv button:hover {
   font-size: 110%;
   color: #FFBE27;
   background-color: #fff;
}

.sumDiv button:disabled {
   color: #eee;
   background-color: #DFAE3D;
}

.sumDiv button:disabled:hover {
   font-size: 100%;
}