<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Google Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <!-- Main -->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <title>Gold Rush!</title>
</head>
<body>
   <div class="float">
      <h1>Welcome to Gold Rush!</h1>
      <p>If you're just stopping by, check out the older <a href="/quickplay">Quickplay Page!</a></p>
      <p>If you want to make an account (for cross-device saves), check out the <a href="/play">Game Page!</a> (DONESN'T SAVE YET! I'M WORKING ON IT!)</p>   
      <br><br><br><br><br>
      <h4>Hope you like it! <br> -Editor Rust :)</h4>
   </div>
</body>
</html>