/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Global
~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
   margin: 0;
   padding: 0;
}

body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-image: url("../Images/wood-texture.jpg");
   background-size: 30vh;
}

::-webkit-scrollbar { display: none; }
::selection { background-color: transparent; }

a {
   color: inherit;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Sections
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section {
   height: 100vh;
   padding: .5em .8em;
   box-sizing: border-box;
   overflow: auto;
   text-align: center;
   background-color: #ffffff20;
}

.main {
   position: relative;
   padding: 0;
   display: grid;
   grid-template-rows: auto auto;
}

.news {
   margin-bottom: 2vh;
   padding: 2vh;
   font-size: 3.5vh;
   font-family: "Nunito";
   background-color: #FDE9A3;
   border-radius: 1.5vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Left Block
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.gold-info {
   padding: 2vh 1vh;
   color: #fff;
   text-shadow: 0 .05em .04em #00000060;
   background-color: #998eff;
   border-radius: 1em;
}

.otherGoldInfo {
   font-size: 1.2em;
   font-family: "Nunito";
}

.goldOwned {
   font-family: "Nunito";
   font-weight: 700;
   font-size: 3em;
   display: inline-block;
}

.asteroid {
   margin: 3em auto;
   width: 29vw;
   filter: drop-shadow(0 0 .1vh #362800);
   transition: .1s;
}

.astroid:hover {
   transform: scale(1.05);
   filter: drop-shadow(0 0 1.5vh #2b2a26);
}

.astroid:active {
   transform: scale(1.02);
   filter: drop-shadow(0 0 2.5vh #2b2a26);
}

.particle {
   position: fixed;
   pointer-events: none;
   padding: .2em .3em;
   font-size: 1.2em;
   color: #fff;
   text-shadow: 0 .05em .04em #00000060;
   font-weight: 700;
   animation: particle 1s forwards;
}

@keyframes particle {
   0% { transform: scale(1); opacity: 1; }
   100% { transform: scale(2); opacity: 0; }
}

.playerName {
   padding: 1em;
   font-size: 3.5vh;
   font-family: "Nunito";
   background-color: #A3A3FD;
   border-radius: 1.5vh;
}

.basic-info-pumped {
   animation: flashgold-text 0.5s infinite alternate;
}

@keyframes flashgold-text {
   0% { text-shadow: 0 0 1vh #ffdf00; }
   100% { text-shadow: 0 0 3vh #ffdf00; }
}

details {
   margin: .5em 0;
   padding: .6em;
   font-size: 1.6em;
   font-family: "Nunito";
   border-radius: 1.5vh;
}

details > summary {
   list-style: none;
}

summary {
   font-size: 1.2em;
}

.game-info {
   background-color: #D0A3FD;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Settings
~~~~~~~~~~~~~~~~~~~~~~~~~*/

#settings div {
   width: 90%;
   background-color: #ffffffee;
   display: inline-block;
   border-radius: 1.25vh;
   margin: 1vh auto 0 auto;
   padding: 1.6vh 0.8vh 2vh 2.8vh;
   color: #444444;
   font-size: 3.8vh;
   box-sizing: border-box;
   border-right: solid .4em #2CD49F;
   border-left: solid 0 #2CD49F;
   transition: .1s;
   text-align: left;
   font-size: .9em;
}

#settings div:hover {
   border-right: solid 0 #2CD49F;
   border-left: solid .4em #2CD49F;
}

#settings h1 {
   text-align: left;
   margin: .4em 0 0 1em;
   font-size: 1.2em;
   font-weight: 700;
   font-family: monospace;
   color: #444;
}

#settings h2 {
   font-size: 1em;
   font-weight: 400;
}

#settings p {
   margin-top: .4vh;
   font-size: 2.4vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Center Block
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.um-1 {
   margin: 2vh auto;
   width: 32vw;
   display: grid;
   grid-template-columns: 11vh auto;
   border-radius: .5vh;
   overflow: hidden;
}

.tab-bar::-webkit-scrollbar {
   display: none;
}

.tab-bar {
   height: 70vh;
   overflow: auto;
   padding: .2vh;
   border-radius: 1.5vh 0 0 1.5vh;
   box-sizing: border-box;
   background-color: #ffffff90;
   max-height: 100%;
}

.tab {
   position: relative;
   display: inline-block;
   padding: 1.8vh 2vh;
   margin: .5vh .5vh;
   margin-bottom: 0;
   text-align: center;
   background-color: #fafafa;
   font-family: sans-serif;
   font-size: 2vh;
   color: #222;
   border-radius: 1vh;
   box-shadow: 0 0 .2vh #00000020;
   font-family: "Nunito", sans-serif;
   transition: .2s;
}

.tab-info {
   top: 18vh;
}

.tab .material-symbols-rounded {
   font-size: 5vh !important;
}

.active-tab {
   transform: translate(1.05vh, 0);
   border-radius: 1vh 0 0 1vh;
}

.tab-research { background-color: #E4FDA3; border-bottom: solid .5vh #D7ED9F; }
#page-research { background-color: #E4FDA3; border-bottom: solid .5vh #D7ED9F; }
.tab-settings { background-color: #B7FDA3; border-bottom: solid .5vh #B0ED9F; }
#page-settings { background-color: #B7FDA3; border-bottom: solid .5vh #B0ED9F; }
.tab-ad { background-color: #A3FDBC; border-bottom: solid .5vh #9FEDB4; }
#page-ad { background-color: #A3FDBC; border-bottom: solid .5vh #9FEDB4; }
.tab-attribution { background-color: #A3FDE9; border-bottom: solid .5vh #9FEDDC; }
#page-attribution { background-color: #A3FDE9; border-bottom: solid .5vh #9FEDDC; }
.tab-info { background-color: #E5B0FF; border-bottom: solid .5vh #D8AAEF; }
#page-info { background-color: #E5B0FF; border-bottom: solid .5vh #D8AAEF; }

/* Information */
.tab-pages {
   height: 70vh;
   background-color: #fafafa;
   width: 100%;
   overflow: hidden;
   scroll-behavior: smooth;
   margin: 0;
   border-radius: 0 1.5vh 1.5vh 0;
}

.tab-pages .page {
   display: inline-block;
   width: 100%;
   height: 100%;
   padding: 2vh 0;
   font-size: 3.5vh;
   font-family: "Nunito";
   vertical-align: top;
   box-sizing: border-box;
   overflow: scroll;
}

.big-title {
   font-family: "Nunito";
   text-align: center;
   font-size: 4vh;
}

.ad-text {
   padding: 3vh 4vh;
   font-size: 3.5vh;
}

.tab-pages span {
   color: #ccc;
   font-family: sans-serif;
   text-decoration: underline;
}

.upgradeList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   padding: 1vh 2vh;
   box-sizing: border-box;
   border-radius: 2vh;
}

#page-attribution {
   padding: .4em .2em;
   font-size: 1.2em;
}

#page-attribution a {
   color: #fff;
   text-shadow: 0 0 .001em #00000020;
}

#page-info {
   padding: .4em .2em;
   font-size: 1.4em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Store
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.building {
   /* height: 8em; */
   width: 100%;
   margin: .5vh 0;
   padding: .5em;
   position: relative;
   background-color: #a503fc;
   border-radius: 1.5vh;
   color: #8a6600;
   font-size: 3.5vh;
   font-family: "Nunito";
   display: none;
   align-items: center;
   justify-content: center;
   /* overflow-y: hidden;
   overflow-x: hidden; */
   box-sizing: border-box;
}

.building-info {
   position: absolute;
   right: 0;
   width: 100%;
   max-width: 20em;
   padding: .8em 1em;
   background-color: #222;
   color: #fff;
   border-radius: 1.5vh;
   box-sizing: border-box;
   text-align: left;
   opacity: 0;
   font-size: 1.3em;
   pointer-events: none;
   transition: .2s;
}

.building-info .name {
   font-size: 1.3em;
   font-family: sans-serif;
}

.building-info .descr {
   padding: .2em 0 .5em 0;
   font-size: .9em;
   color: #ddd;
}

.building-info .cost {
   margin-top: .25em;
   float: right;
   font-family: sans-serif;
}

/* Buildings */
.building, .tools {
   background-color: #ffdc7d;
}

.building.cantafford {
   background-color: #5e4f24;
}

.building .name {
   font-size: 1.1em;
}

.building .info {
   color: #222;
}

.tools {
   display: inline-block;
   border-top: none;
}

.building-img {
   position: absolute;
   top: 1.5vh;
   left: 1.5vh;
   padding: 1.5vh;
}

.building-img img {
   height: 8vh;
   transition: .1s;
}

.building-img img:hover {
   filter: drop-shadow(0 0 .1vh #362800);
   transform: scale(1.05);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Upgrades
~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Upgrades */

.upgrade.canafford {
   display: block;
}

.upgrade.cantafford {
   display: block;
   background-color: #bbb;
}
/* old */

.upgrade {
   border-left: solid 1.4vh #B4EA29;
   border-radius: 1vh;
   background-color: #fefefe;
   margin: 1vh .2em;
   padding: 2vh 2vh 2vh 1.5vh;
   font-size: 3.5vh;
   display: none;
   transition: .25s;
   position: relative;
   z-index: -0.8;
   font-weight: 300;

}

.upgrade-name {
   font-size: 4.5vh;
   display: inline-block;
}

.upgrade-more {
   font-size: 3.5vh;
   margin: 0;
   font-weight: 300;
}

.upgrade-why {
   font-size: 2.5vh;
   margin: 0;
   font-weight: 300;
}

.upgrade-icon {
   position: absolute;
   top: 1vh;
   right: 1.5vh;
   display: inline;
   height: 6vh;
}

.upgrade:hover {
   box-shadow: 0 0 0.5vh #6D550020;
   padding: 2vh 1.5vh 2vh 1.5vh;
   border-left: solid 1.6vh #B4EA29;
   z-index: 1;
}

.upgrade .upgrade-tooltip {
   font-size: 3vh;
   opacity: 0;
   background-color: #444;
   color: #fff;
   text-align: center;
   border-radius: 1vh;
   padding: 2vh 0;
   position: absolute;
   z-index: -1;
   top: 105%;
   right: 0;
   left: -1.6vh;
   text-decoration: none;
   transition: 0.2s;
   pointer-events: none;
   border-left: solid 1.4vh #18727C;
}

.upgrade .upgrade-tooltip::after {
   content: '';
   position: absolute;
   bottom: 98%;
   left: 50%;
   margin-left: -1.5vh;
   border-width: 1.5vh;
   border-style: solid;
   border-color: transparent transparent #444 transparent;
}

.upgrade:hover .upgrade-tooltip {
   opacity: 1;
   z-index: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Introduction
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.introduction {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   font-family: 'Nunito', sans-serif;
   background-color: #fff;
   text-align: center;
}

.introduction img {
   position: absolute;
   top: 0;
   left: 0;
   height: 25vh;
   margin: 2vh;
}

.introduction h1 {
   text-align: right;
   margin: 6vh 8% 10vh 0;
   font-size: 8vh;
}

.introduction p {
   margin: 5vh;
   font-size: 4vh;
}

.name-input {
   height: 15vh;
   width: 100%;
   font-size: 5.6vh;
   font-family: 'Nunito', sans-serif;
   border: none;
   border-bottom: solid .3vh cornflowerblue;
   transition: .2s;
}

.name-input:focus {
   outline: none;
   border-bottom: solid .5vh cornflowerblue;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Alert
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.alert-box {
   z-index: 1000;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   font-size: 2vh; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   pointer-events: none;
}

.alert {
   pointer-events: auto;
   display: none;
   justify-content: center;
   align-items: center;
   min-height: 5em;
   width: 12em;
   font-size: 1.4em;
   color: #fff;
   padding: .25em .5em;
   margin: .1em .2em;
   font-family: "Nunito";
   background-color: #d2332e;
   border-radius: 1.5vh;
   transition: .2s;
}
.alert-cominin {
   animation: alertCominIn .8s forwards;
}
.alertAnimation {
   opacity: 1;
   transform: scale(1) rotate(0);
   animation: alert-animation .8s forwards;

   min-height: 0;
   height: 0;
   overflow: hidden;
   padding: 0;
   margin: 0;
}
@keyframes alert-animation {
   0% { transform: translate(0, 0) scale(1); opacity: 1; }
   100% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
}
@keyframes alertCominIn {
   0% { transform: translate(50vh, 0) scale(.8); opacity: .5; }
   100% {transform: translate(0, 0) scale(1); opacity: 1;  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Copyright
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.copy-info {
   position: relative;
   color: #555;
   padding: 1vh;
   border-radius: .5vh;
}

.copy-info a { color: #fff; }


/*~~~~~~~~~~~~~~~~~~~~~~~~~
// Context Menu
~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu {
   width: 38vh;
   position: fixed;
   z-index: 100;
   display: none;
   background: #fff;
   border-radius: 1vh;
}

#menu li {
   list-style-type: none;
   margin: .5vh;
   padding: 2vh 4vh;
   color: #555;
   font-family: Nunito;
   font-size: 3.2vh;
   border-radius: 1vh;
   transition: 0.3s;
}

#menu li:hover {
   background-color: #fafafa;
}

#menu hr {
   border: 0.15vh solid #ebebeb;
   border-bottom: 0;
}

#menu a {
   font-size: 3.2vh;
   text-decoration: none;
   color: #555;
}
